body{
    text-align: center;
    font-family: Arial, sans-serif;
}

.btn{
    height: 180px;
    width: 180px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 1rem;
    cursor: pointer;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.line-one, .line-two{
    display: flex;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color:#819ff9;
}

.flash{
    background-color: white !important;
}

.userflash{
    background-color: green !important;
}