body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
}

#status {
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, min(40vw, 180px));
  grid-template-rows: repeat(2, min(40vw, 180px));
  gap: 20px;
  justify-content: center;
}

.btn {
  border-radius: 20%;
  border: 6px solid white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.red { background: #e74c3c; }
.yellow { background: #f1c40f; }
.green { background: #2ecc71; }
.purple { background: #9b59b6; }

.flash {
  filter: brightness(200%);
  transform: scale(0.9);
  background: white;
}


.pressed {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  h1 { font-size: 24px; }
  #status { font-size: 16px; }
  .btn { border-width: 4px; }
}
